.card {
    text-align: left;
    border: solid 1px var(--midGrey);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.title {
    margin-bottom: 0;
    margin-top: 0.5rem;
}

.description {
    margin-top: 0;
}