.card {
  text-align: left;
  border: solid 1px var(--midGrey);
  padding: 1rem 2rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  background-color: white;
  box-shadow: 2px 2px 20px var(--darkGrey);
  border-radius: 20px;
}

.title {
  margin-bottom: 10px;
  margin-top: 0.5rem;
  border-bottom: solid 1px var(--midGrey);
}

.description {
  margin-top: 0;
}
