.input {
  outline: none;
  color: black;
  background-color: var(--midGrey);
  border: none;
  border-radius: 3px;
  padding-left: 10%;
  padding-top: 1.9rem;
  padding-bottom: 1rem;
  width: 70%;
  background-image: url("/images/arrow.png");
  background-position: 5% 50%;
  background-repeat: no-repeat;
  background-size: 20px;
}

.input:focus {
  border: solid 2px var(--purple);
}
