.buttonPurple {
  padding: 0.5rem 0.5rem;
  background-color: var(--purple);
  border: solid 1px white;
  border-radius: 5px;
  margin-bottom: 1rem;
  width: 100%;
  font: var(--h4-mobile);
  color: var(--white);
}

.buttonPurple:hover {
  background-color: #ff930f;
}

.buttonPurple:active {
  background-color: #ff930f;
}

.buttonPurple:disabled {
  background-color: #ff8c0086;
  color: white;
}

@media only screen and (min-width: 768px) {
  .buttonPurple {
    font: var(--h4-tablet);
  }
}

@media only screen and (min-width: 1024px) {
  .buttonPurple {
    font: var(--h4-desktop);
  }
}
