.buttonPurple {
  padding: 0.5rem 0rem;
  background-color: var(--purple);
  border: solid 1px white;
  border-radius: 5px;
  margin-bottom: 1rem;
  width: 100%;
  font: var(--h4-mobile);
}

.buttonPurple:hover {
  background-color: #4c008f;
}

.buttonPurple:active {
  background-color: #4c008f;
}

@media only screen and (min-width: 1024px) {
  .buttonPurple {
    font: var(--h4-desktop);
  }
}
