.buttonPurple {
  padding: 1rem 4rem;
  background-color: var(--purple);
  border: solid 1px white;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.buttonPurple:hover {
  background-color: #4c008f;
}

.buttonPurple:active {
  background-color: #4c008f;
}
