button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: #948d64;
}
.off {
  color: #ffd90073;
}

.star {
  font-size: 25px;
}

@media only screen and (min-width: 1024px) {
  .star {
    font-size: 40px;
  }
}
