.wrapper {
  padding: 30px;
}

p {
  display: grid;
  place-items: center;
}

.iconList {
  list-style-type: none;
  padding: 0;
}
.iconList li {
  margin: 10px 30px;
  padding: 10px 40px;
  position: relative;
}
.iconList li:before {
  content: "";
  font-size: 29px;
  position: absolute;
  margin-right: 100px;
  left: 0;
}

.iconList li:first-child::before {
  content: "🎂";
}

.iconList li:nth-child(2)::before {
  content: "🍔";
}

.iconList li:nth-child(3)::before {
  content: "🍕";
}

.iconList li:nth-child(4)::before {
  content: "🥦";
}

@media only screen and (max-width: 768px) {
  .wrapper {
    padding: 1px;
  }
}
