.wrapper {
  background: white;
  color: black;
  width: 100%;
  border-radius: 30px 30px 0px 0px;
  padding: 2rem;
}

img {
  max-width: 100%;
  max-height: auto;
  border-radius: 5px;
}

.center {
  text-align: center;
}

.para {
  color: var(--darkGrey);
}

.margin {
  margin: 0px;
}

.via {
  color: var(--purple);
}

.buttonContainer {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 1024px) {
  .wrapper {
    border-radius: 0px;
  }

  .padding {
    padding: 1rem;
  }

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .shadow {
    background-color: white;
    box-shadow: 2px 2px 20px var(--darkGrey);
    border-radius: 20px;
  }

  img {
    max-width: 50%;
    max-height: auto;
  }

  .card {
    margin-left: 5rem;
    margin-right: 5rem;
    position: relative;
    bottom: 5rem;
  }
}
