.wrapper {
  padding: 2rem;
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background: linear-gradient(to right, #ff930f, #f50179);
}

.mainHeading {
  text-align: center;
}

.subheading {
  text-align: center;
  margin-bottom: 6rem;
  font-weight: 100;
}

@media only screen and (max-width: 800px) {
  .wrapper {
    padding: 2rem;
    height: 60vh;
    padding: 3rem;
  }
}
